<div class="login-container">
  <h2>Đăng nhập</h2>

  @if (error) {
    <div class="alert alert-danger">
      {{ error }}
    </div>
  }

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <!-- Field Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Nhập email"
      />

      <!-- Lỗi chi tiết cho Field Email -->
      @if (loginForm.get("email")?.touched && loginForm.get("email")?.invalid) {
        <div class="error-text">
          @if (loginForm.get("email")?.errors?.["required"]) {
            <small>Email không được để trống!</small>
          }
          @if (loginForm.get("email")?.errors?.["email"]) {
            <small>Email không đúng định dạng!</small>
          }
        </div>
      }
    </div>

    <!-- Field Password -->
    <div class="form-group">
      <label for="password">Mật khẩu:</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Nhập mật khẩu"
      />

      @if (
        loginForm.get("password")?.touched && loginForm.get("password")?.invalid
      ) {
        <div class="error-text">
          @if (loginForm.get("password")?.errors?.["required"]) {
            <small>Mật khẩu không được để trống!</small>
          }
          @if (loginForm.get("password")?.errors?.["minlength"]) {
            <small>Mật khẩu phải từ 6 ký tự trở lên!</small>
          }
        </div>
      }
    </div>

    <button type="submit" [disabled]="loading" class="btn-submit">
      @if (loading) {
        <span>Đang xử lý...</span>
      } @else {
        <span>Đăng nhập</span>
      }
    </button>
  </form>
</div>
